#red-queen_and_alice {
  position: absolute;
  top: 0; left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 80%;
  max-width: 450px; /*height: 783px / 2*/
  z-index: 1;}
#red-queen_and_alice:before {
    content: " ";
    display: block;
    padding-top: 87%;}
#red-queen_and_alice img {
  position: absolute;
  top: 0; left: 0;
  width: 100%;  }
.sky, .earth {
  position: absolute;
  left: 0;
  height: 50vh;
  width: 100%;}
img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);}
.earth{
  background: lightgreen repeat-x 0 0 /  100% auto;  
  width: 100%;
  bottom: 0;
}
.sky {
  width: 100%;
}
.sky >img{
  top: 0;
  width: 100%;
  height: 650px;
}
.scenery {
  width: 100%; height: 50%;
  position: absolute;
  bottom: 0; left: 0;
}
#foreground { z-index: 1 ;}
#foreground, .background2 {
  transform: translateX(100%);
}

#treefore {
  top: -70%; left: 10%;
}

#pawn {
  top: 5%; left: 30%
}

.foreground2, .background2 {
  transform: translateX(100%);
}

.pawn {
  top: -120%; left: 5%;
}

.pawn2 {
  top: -110%; left: 80%;    
}

.treeback {
  top: -125%; left: 40%    
}


html, body {
  width: 100%; height: 100%;
}

.container {
  width: 100%; height: 100%;
  overflow: hidden;
  position: absolute;
}
.earth > img{
  width: 100%;
}
* { user-select: none; }